.App {
    margin: 0px;
    padding: 0px;
    background-color: rgba(218, 139, 74, 0.199);
}
/*
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-logo {
    animation: App-logo-spin infinite 1.6s linear;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
